body{
    background-image: linear-gradient( to right, #e3b3c6a6, #8e499ca6);
}
.navbar {
    margin-bottom: 5px;
}
.pedidos{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-bottom: 5px;
    text-align: justify;
    font-size: 60px;
}
.pedidos > h2{
    color: rgba(1, 1, 85, 0.849);
    font-size: 60px;
    margin-top: 05px;

}
.fonth4{
    color: rgba(1, 1, 85, 0.849);
    font-size: 40px;
    margin-top: -10px;
    margin-bottom: 50px;

}
.margin{
    padding-top: 25px;
    padding-bottom: 25px;
}

.contato{
    text-align: justify;
    font-size: 60px;
    border-radius: 20px;
}

.contato > h2{
    color: rgba(1, 1, 85, 0.849);
    font-size: 60px;
    margin-top: 25px;
    
}
.imgz{
    border-radius: 50%;
    margin-bottom: 50px;
}
.bg-footer > ul{
    list-style: none;
}
.bg-footer{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: blanchedalmond;
    
    margin-bottom: 10px;
    padding-bottom: 15px;
}
